---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="w-full min-h-screen grid place-items-center">
    <div class="flex flex-col gap-2 items-center">
      <h1 class="text-2xl font-medium">Welcome to the landing page!</h1>
      <p>For SEO, this page is completely pre-rendered.</p>

      <p>
        Goto <a class="underline text-blue-500" href="/app">App</a> to see the dynamic
        applicaton built with Svelte.
      </p>
    </div>
  </div>
</Layout>
